<h2> Lista de Matérias - 5º Ciclo </h2>
<table class="table">
  <tr>
    <th> Id </th>
    <th> Nome </th>
    <th> Dia da Semana </th>
    <th> Horário </th>
  </tr>
  <tr *ngFor="let item of list, index as i">
    <td> 
      <a [routerLink]="['/list', i]"> 
        {{item.id}} 
      </a>
    </td>
    <td> 
      <a> 
        {{item.text}} 
      </a>
    </td>
    <td> 
      <a> 
        {{item.date}} 
      </a>
    </td>
    <td> 
      <a> 
        {{item.hour}} 
      </a>
    </td>
  </tr>
</table>